apiVersion: v1
kind: Secret
metadata:
  name: llm-logger-secrets
  namespace: llm-inference-logger
type: Opaque
stringData:
  DATABASE_URL: "postgresql://inference:inference@llm-logger-postgres:5432/inference_logs"
  GROQ_API_KEY: ""
  ANTHROPIC_API_KEY: ""
  OPENAI_API_KEY: ""
  GEMINI_API_KEY: ""
